* {
  font-family: "Inter", "Inter Placeholder", "sans-serif";
}
.header {
  place-content: center;
  align-items: center;
  background-color: rgb(229, 231, 236);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 50px;
  height: min-content;
  overflow: hidden;
  padding: 100px;
  position: relative;
  width: 100%;
}
.heading1 {
  flex: 0 0 auto;
  height: auto;
  max-width: 100%;
  position: relative;
  transform: perspective(1200px);
  white-space: pre-wrap;
  width: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  z-index: 2;

  font-family: "Inter", "Inter Placeholder", "sans-serif";

  letter-spacing: 0.06em;
  color: rgb(239, 132, 37);
  text-transform: capitalize;
}
h1 {
  /* font-family: "Merriweather", sans-serif; */
  font-size: 68px !important;
}
.textField {
  place-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 20px;
  height: min-content;
  overflow: visible;
  padding: 0px;
  position: relative;
  transform: perspective(1200px);
  z-index: 2;
}
h2 {
  width: 380px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.7px;
  line-height: 1.5em;
  text-align: center;
  color: rgb(20, 33, 61)!important;
  font-family: var(--framer-font-family, Inter, Inter Placeholder, sans-serif);
}
.carousel {
  aspect-ratio: 1.77778 / 1;
  border-radius: 20px;
  flex: 0 0 auto;
  height: var(--framer-aspect-ratio-supported, 450px);
  overflow: hidden;
  position: relative;
  transform: perspective(1200px);
  width: 800px;
  will-change: var(--framer-will-change-override, transform);
  z-index: 2;
}
/* .textDiv {
  flex: 0 0 auto;
  height: auto;
 
  white-space: pre;
  z-index: 3;
} */
.whyUscls {
  width: auto;
  font-family: "Inter", "Inter Placeholder", "sans-serif";
  top: 104px;
  left: 50%;
  font-size: 48px;
  font-style: italic;
  letter-spacing: 0.07em;
  color: rgb(229, 228, 228);
  z-index: 3;
}
.ovalDecoration1 {
  border-bottom-width: 1px;
  border-color: #000000;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  bottom: 240px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
  flex: 0 0 auto;
  height: 299px;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  right: -230px;
  transform: rotate(231deg);
  width: 570px;
  will-change: var(--framer-will-change-override, transform);
}
.ovalDecoration2 {
  border-bottom-width: 1px;
  border-color: #000000;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  bottom: 220px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
  flex: 0 0 auto;
  height: 310px;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  right: -255px;
  transform: rotate(150deg);
  width: 570px;
  will-change: var(--framer-will-change-override, transform);
  z-index: 1;
}
.starDecoration1 {
  aspect-ratio: 0.996633 / 1;
  flex: 0 0 auto;
  height: var(--framer-aspect-ratio-supported, 281px);
  left: -66px;
  opacity: 0.3;
  overflow: visible;
  position: absolute;
  top: -25px;
  width: 280px;
}

.line1 {
  transform: rotate(90deg);
}
.line2 {
  transform: rotate(-30deg);
}
.line3 {
  transform: rotate(-60deg);
}
.line4 {
  transform: rotate(30deg);
}
.line5 {
  transform: rotate(60deg);
}
.line6 {
  background-color: rgb(0, 0, 0);
  flex: 0 0 auto;
  height: 1px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: calc(49.8316% - 0.5px);
}
.middleDiv {
  place-content: center;
  align-items: center;
  background-color: rgb(229, 229, 229);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 20px;
  height: 588px;
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 100%;
}

.content {
  bottom: 155px;
  flex: 0 0 auto;
  height: auto;
  left: 50%;
  overflow: visible;
  position: absolute;
  transform: perspective(1200px) translateX(-50%);
  white-space: pre-wrap;
  width: 624px;
  word-break: break-word;
  overflow-wrap: break-word;
  z-index: 1;
}
.midDivText {
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.6em;
  text-align: left;
  color: rgb(20, 33, 61);
}
.heading2 {
  /* paragraph-spacing: 0px; */
  top: 8rem;
  flex: 0 0 auto;
  height: auto;
  left: 50%;
  position: absolute;
  top: 126px;
  transform: perspective(1200px) translateX(-50%);
  white-space: pre;
  width: auto;
  z-index: 1;
}
.heading2 h1 {
  /* font-family: "Merriweather", sans-serif !important; */
  font-family: "Inter", "Inter Placeholder", "sans-serif " !important;
  font-size: 58px;
  letter-spacing: 0.06em;
  color: rgb(239, 132, 37);
  text-transform: capitalize;
}
.lastDiv {
  place-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 45px;
  height: min-content;
  overflow: hidden;
  padding: 100px;
  position: relative;
  width: 100%;
  top: -2rem;
}
.divData {
  display: grid;
  flex: 0 0 auto;
  gap: 60px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, min-content);
  height: min-content;
  justify-content: center;
  max-width: 1000px;
  overflow: visible;
  padding: 0px;
  position: relative;
  top: 9rem;
  width: 100%;
  z-index: 2;
}
.ovalDecoration3 {
  border-bottom-width: 1px;
  border-color: #000000;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
  flex: 0 0 auto;
  height: 299px;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  right: -209px;
  top: 18px;
  transform: rotate(231deg);
  width: 570px;
  will-change: var(--framer-will-change-override, transform);
  z-index: 2;
}
.ovalDecoration4 {
  border-bottom-width: 1px;
  border-color: #000000;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
  flex: 0 0 auto;
  height: 299px;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  right: -209px;
  top: 18px;
  transform: rotate(150deg);
  width: 570px;
  will-change: var(--framer-will-change-override, transform);
  z-index: 2;
}
.data1 {
  place-content: center;
  align-items: center;
  place-self: start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column wrap;
  gap: 30px;
  height: auto;
  overflow: visible;
  padding: 0px;
  position: relative;
  transform: perspective(1200px);
  width: 100%;
}
.data {
  place-content: center;
  align-items: center;
  place-self: start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 30px;
  height: min-content;
  overflow: visible;
  padding: 0px;
  position: relative;
  transform: perspective(1200px);
  width: 100%;
}
.icon {
  place-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 20px;
  height: var(--framer-aspect-ratio-supported, 294px);
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  will-change: var(--framer-will-change-override, transform);
}
.abImgIcon{
  display: block;
  /* width: 100%; */
  height: 100%;
  border-radius: inherit;
  object-position: center center;
  object-fit: cover;
  image-rendering: auto;
}
.imgData {
  place-content: flex-start center;
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 5px;
  height: min-content;
  padding: 0px;
  position: relative;
  width: 100%;
}
h2 {
  font-family: "Inter", "Inter Placeholder", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1.5em;
  text-align: left;
  color: rgb(23, 23, 23);
}
h3 {
  flex: 0 0 auto;
  height: auto;
  overflow: visible;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.4em;
  text-align: left;
  color: rgb(133, 133, 133);
}
.designaation {
  margin-bottom: 3rem;
}
.startDivDec{
    aspect-ratio: 0.996633 / 1;
    bottom: -77px;
    flex: 0 0 auto;
    height: var(--framer-aspect-ratio-supported, 281px);
    left: -74px;
    opacity: 0.3;
    overflow: visible;
    position: absolute;
    width: 280px;
    z-index: 3;
}
